@import "bootstrap";



.logout-link {
  background: none !important;
  border: none !important;
  display: block;
  cursor: pointer;

  
  padding: .5rem 1rem !important;
  line-height: 1.5 !important;

  
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}

.logout-link:hover {
  color: rgba(0, 0, 0, 0.7) !important;
  text-decoration: underline;
}


