@import "bootstrap";

/*.soine-header {
  background-image: image-url("soine_header.png");
  background-size: contain;
  background-position: center;
  height: 100px;  
}*/

.soine-avatar-small{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #cbd5e1; /* 薄いグレー */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  .soine-avatar-small{
  flex: 0 0 32px;}

}


nav.navbar {
  background-color: transparent !important;
  height: 100px; 
  display: flex;
  align-items: center;
}



.logout-link {
  background: none !important;
  border: none !important;
  display: block;
  cursor: pointer;

  
  padding: .5rem 1rem !important;
  line-height: 1.5 !important;

  
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}

.logout-link:hover {
  color: rgba(0, 0, 0, 0.7) !important;
  text-decoration: underline;
}


